<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/404.css">
    <link rel="stylesheet" type="text/css" href="/welcome.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="links">
            <% for( let index=0; index < data.length; index++ ) { %>
                <a href="<%= relPath %><%= data[index] %>">
                    <%= data[index] %>
                </a>
                <% } %>
        </div>
        <i class="icon-camera-retro"></i> 
        <p class="status">
            Welcome , nice to have you here
        </p>
    </div>
</body>

</html>